body {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

h1 {
  font-family: Georgia, serif;
  font-style: bold;
  padding: 10px;
  color: #037bfc;
}

/* error message */
#Error {
  font-family: Georgia, serif;
  font-size: 25px;
  color: red;
}

#table_name {
  font-family: Georgia, serif;
  font-size: 25px;
}

form {
  text-align: left;
  margin:  25px 100px 25px 100px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 5px 5px 7px #d2e3f7;
  cursor: text;
}

input[type=date] {
  padding: 10px;
  width: 75%;
  font-size: 15px;
  box-shadow: 5px 5px 7px #d2e3f7;
  cursor: text;
} 

input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.date-param {
  margin-bottom: 5px;
}

#submit {
  height: 50px;
  width: 75%;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  background-color: #037bfc;
  color: #edf3fa;
  font-size: 20px;
  font-family: Georgia, serif;
  cursor: pointer;
  border: none;
  box-shadow: 0 7px #999;
  outline: none;
}

/* Creates pressed effect on button*/
#submit:hover {background-color: #0665d4}
#submit:active {
  background-color: #0665d4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.col {
  float: left;
  width: 33.33%;
}

.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/* Go full width when screen is less than 800 px */
@media only screen and (max-width: 800px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for sorting drop down menu */
#sorting {
  padding: 5px 10px 10px 10px;
}

select {
  font-size: 15px;
  padding: 1px 5px 5px 5px;
  box-shadow: 5px 5px 7px #d2e3f7;
}

label {
  font-size: 5px;
  font-family: sans-serif;
  padding-right: 5px;
}

/* CSS for table */

.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#show_data {
  font-family: Georgia, serif;
  border-collapse: collapse;
}

#show_data th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #037bfc;
}

#show_data tr:hover {background-color:#f5f5f5;}

#show_data th {
  font-family: helvetica, arial, sans-serif;
  background-color: #037bfc;
  color: #edf3fa;
  text-align: center;
  box-shadow: 5px 5px 7px #d2e3f7;
}

#sort_menu {
    display: inline-block;
}

#sort_button {
  visibility: hidden;
  height: 25px;
  width: 5%;
  margin: 20px 20px 20px 20px;
  background-color: #e9eff2;
  font-size: 20px;
  font-family: Georgia, serif;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px #999;
  outline: none;
  font-size: 15px;
}

/* Creates pressed effect on button*/
#sort_button:hover {background-color: #0665d4}
#sort_button:active {
  background-color: #0665d4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.footer {
  text-align: center;
  font-family: Georgia, serif;
}
